@model List<Team_07_PRN222_A02.BLL.DTOs.NewsArticleDTO>

<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            <div class="left-side">
                <div class="masonry-box post-media">
                    <img src="upload/blog_masonry_01.jpg" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="blog-category-01.html" title="">@Model.ElementAt(0).CategoryName</a></span>
                                <h4><a asp-page="News/NewsDetail" asp-route-id="@Model.ElementAt(0).NewsArticleId" title="">@Model.ElementAt(0).NewsTitle</a></h4>
                                <small><a href="single.html" title="">@Model.ElementAt(0).CreatedDate</a></small>
                                <small><a href="blog-author.html" title="">@Model.ElementAt(0).AccountName</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            <div class="center-side">
                <div class="masonry-box post-media">
                    <img src="upload/blog_masonry_02.jpg" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-green"><a href="blog-category-01.html" title="">@Model.ElementAt(1).CategoryName</a></span>
                                <h4><a href="single.html" title="">@Model.ElementAt(1).NewsTitle</a></h4>
                                <small><a asp-page="/News/NewsDetail" asp-route-id="@Model.ElementAt(1).NewsArticleId" title="">@Model.ElementAt(1).CreatedDate</a></small>
                                <small><a href="blog-author.html" title="">@Model.ElementAt(1).AccountName</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->

                <div class="masonry-box small-box post-media">
                    <img src="upload/blog_masonry_03.jpg" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-green"><a href="blog-category-01.html" title="">@Model.ElementAt(2).CategoryName</a></span>
                                <h4><a asp-page="/News/NewsDetail" asp-route-id="@Model.ElementAt(2).NewsArticleId" title="">@Model.ElementAt(2).NewsTitle</a></h4>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->

                <div class="masonry-box small-box post-media">
                    <img src="upload/blog_masonry_04.jpg" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-green"><a href="blog-category-01.html" title="">@Model.ElementAt(3).CategoryName</a></span>
                                <h4><a asp-page ="/News/NewsDetail" asp-route-id="@Model.ElementAt(3).NewsArticleId" title="">@Model.ElementAt(3).NewsTitle</a></h4>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            <div class="right-side hidden-md-down">
                <div class="masonry-box post-media">
                    <img src="upload/blog_masonry_05.jpg" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="blog-category-01.html" title="">@Model.ElementAt(4).CategoryName</a></span>
                                <h4><a asp-page="/News/NewsDetail" asp-route-id="@Model.ElementAt(4).NewsArticleId" title="">@Model.ElementAt(4).NewsTitle</a></h4>
                                <small><a asp-page="/News/NewsDetail" asp-route-id="@Model.ElementAt(4).NewsArticleId" title="">@Model.ElementAt(4).CreatedDate</a></small>
                                <small><a href="blog-author.html" title="">@Model.ElementAt(4).AccountName</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end right-side -->
        </div><!-- end masonry -->
    </div>
</section>
